@media screen and (min-width: 320px) and (max-width: 425px) {

    body {
        margin-right: 0em;
        margin-left: 0em;
        max-width: 30em;
    }

    header nav {
        display: flex;
        flex-direction: column;
        width: 26.6em;
    }

    .resp-m {
        width: 26.6em;
    }

    .sect-un {
        display: flex;
        align-items: center;
    }

    .sect-un img {
        width: 25em;
        text-align: center;
    }

    .sect-deux {
        width: 25em;
    }

    .titre {
        width: 30.5em;
        font-size: 0.8em;
    }

    .txt-su {
        font-size: 0.8em;
        padding-left: 1.4em;
        padding-right: 1.4em;
    }

    .txt-sd {
        font-size: 0.8em;
        padding-left: 1.4em;
        padding-right: 1.4em;
        display: flex;
    }

    .foot {
        padding-top: 1.5em;
        width: 37em;
        font-size: 0.6em;
        padding-left: 4em;
    }

    .sect {
        display: flex;
        flex-direction: column;
    }
}
